<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/jquery-2.1.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>

  <title><%= title%></title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%=title%></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="starter-template">
      <div class="row">
        <p class="text-success"><%-lang.index.sendBarrage%></p>
      </div>
      <div class="row">
        <textarea class="form-control" row="4" id="txt-barrage"></textarea>
      </div>
      <p>&nbsp;</p>
      <div class="row">
        <button class="form-control btn-success" id="btn-send"><%=lang.index.send%></button>
      </div>
    </div>
  </div>
  <script>
  $(function() {
    var webSocket = io.connect(location.origin);
    webSocket.on('whoami', function(){
      webSocket.emit('whoami', 'index');
    });
    webSocket.on("result", function() {
      $("#txt-barrage").val("").focus();
      $("#btn-send").removeAttr('disabled');

    })

    $("#btn-send").click(function() {
      webSocket.emit("barrage", $("#txt-barrage").val());
      $("#btn-send").attr("disabled", "disabled");
    })
  });
  </script>

</body>
</html>